@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  display: inline-block;
  vertical-align: middle;
  width: 2cm;
  height: 2cm;
  animation: spin infinite 10s linear;
}

#react-logo {
  position: relative; /* 必要なら位置調整 */
}
